[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
telebot = "*"
requests = "*"
bs4 = "*"
lxml = "*"
aiohttp = "*"
python-dotenv = "*"
pymata-aio = "*"
awscli = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
boto3 = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.11"
